<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corporate_domain_name.live.lib_comlive">

    <application>
        <activity android:name="com.corporate_domain_name.live.lib_comlive.demo.IMActivity"></activity>
    </application>

</manifest>